*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: manrope;
}

nav{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.navbar, .nav-item ul, .road-assistance{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.road-assistance{
    padding-left: 1rem;
}
ul li a {
    text-decoration: none;
    color: #0b0d10;
}

.d-flex{
    display: flex;
    justify-content: center;
}

.title-banner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    right: 10%;
    margin-top: 2rem;
}
.btn-warning{
    background-color:#FF6433;
    padding: 1rem;
    margin: 2rem 0;
    border-radius: 0.3rem;
    color: #ffffff;
    width: 45%;
    text-align: center;

}
.btn-warning a{
    color: #ffffff;
    font-size: 18px;
}
.diagnostics{
   background-color:#F5F5F5;
    margin-top: 3rem;
 }
.p-3{
   padding: 4rem;
}
.auto-card {
    width: 30%;
    background-color: #ffffff;
    padding: 1rem;

}
p{
    font-size: 16px;
    line-height: 1.75rem;
}
a{
    text-decoration: none;
    color: #0b0d10;
}
.auto-card p{
   color:#232536;
    margin-bottom: 1rem;
}
 h3{
    font-size:1.78rem;
     font-weight: bold;
     margin: 1rem 0;
}
.dia-content {
    width: 50%;
}
.row{
     display: flex;
     justify-content: center;
     padding: 0.1rem;
     flex-wrap: wrap;
 }
.column-1, .column-2 {
    background-color: #ffffff;
    padding: 2rem 3rem;
    display: flex;
    flex-flow: column;
    margin: 0.3rem;
    width: 40%;
    align-items: center;
}
.icon-flex{
    display: flex;
    padding: 0.43rem;
}
.list-item, .car-img{
    width: 33%;
}
.list-item h3{
    font-size: 2rem;
}
.list-item .icon-flex p {
    margin-left: 1rem;
}
.column-1 p, .column-2 p{
    margin-top: 1rem;
}
.item-img-part, .car-part{
    display: flex;
}
.item-img, .car-fix {
    width: 50%;
}
.car-fix{
    padding: 0 5rem;
    margin-left: 2rem;
}
.car-fix h3{
    font-size: 2.45rem;
}
.car-part{
    margin-top:2rem;
}
.item-img-part img, .car-part img {
    height: 350px;
    margin-left: 1rem;
}
.book a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}
.mechanic{
    width: 50%;
    height: 350px;
}
.mechanic img{
    height: 350px;
}
.services{
    width: 40%;
    position: absolute;
    background-color: #1E1B1B;
    color: #ffffff;
    padding: 0 2rem;
    height: 350px;
    top: 0;
    margin-left: 25em;
}
.services .description{
    padding: 2rem;
}
.description p{
    line-height: 2rem;
    font-size: 16px;
    margin-top: 0.4rem;
}
.description h3{
    font-size: 2rem;
    font-weight: 600;
}
img{
    max-width: 100%;
}
.navbar, .nav-item ul li{
    list-style: none;
    padding: 1rem;
}