*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: manrope;
}

.container{
    width: 80%;
    margin: 0 auto;

}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.left-section{
    width: 45%;
}


.right-section{
    width: 40%;
    padding: 20px;
}

.d-flex{
    display: flex;
    align-items: center; 
}

.line{
position: absolute;
margin-left: 4rem;
margin-top: -2.4rem;
}

.ball{
    padding: 2rem;
}

#ball{
    max-width: 72px;
    margin: 1rem 0;
}

.p1{
    color: #1E1B1B;
    margin-top: 0.76rem;
    line-height: 1.47rem;
    font-size: 16px;
}
.text{
    margin-top:4rem;
}

h2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
}

.right-section-1 .p1{
    border-left: 2px dashed #FF6433;
    display: flex;
    padding: 20px;
    align-items: center;
    margin-left: 40px;

}

.right-section-1 #ball{
    margin-right: 20px;
}

.right-section-1 .p{
    margin-right: 30px;
}

.p{
    margin-right: 20px;
}

.services{
    width: 100%;
    background-color: #F2F2F2;
    text-align: center;
}

.image-line-2, .image-line-1{
    display: flex;
    justify-content: center;
    padding:0.1rem;
}
.image-line-1 img, .image-line-2 img{
    padding:0.34rem ;
}

.services .p{

    border-left: 2px solid;
}
.offer{
    padding: 5rem;
}

.offer h2{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.numbers{
     display: flex;
     justify-content: space-around;
     padding: 3rem 0;
}

.numbers .subtitle{
    font-weight: 800;
     font-size: 58px;
     color: #661CE7;
}

.learn-more{
    display: flex;
    justify-content: end;
    margin-right: 5rem;
    padding: 2rem;
}

.container-3{
    width: 100%;
    height: 100vh;
    margin-top: 0px;
}

.connection-first{
    display: flex;
    position: relative;
}


.touch{
    width: 38%;
    height: 49vh;
    background-color: #FF6433;
    position: absolute;
    left: 20%;
    margin-top: -25rem;
}

.inTouch-2 img{
    overflow: hidden;
}
.inTouch-2{
   display: flex;
   justify-content: center;
   position: relative;
}
.intouch{
    margin: 3rem 0;
}

.touch h3{
    text-align: center;
    margin-top: 5rem;
    color: #ffff;
    font-size: 40px;
    font-weight: bold;
    padding: 2rem 1rem;
}
.connection-second{
    height: 15vh;
    background-color: #F2F2F2;
}

.connnection-third{
    background-color: #FAFAFA;
    padding: 4rem;
}

.connection-third h1{
    padding-top: 45px;
    margin-bottom: 15px;

}