*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: manrope;
}
.header-container {
    width: 80%;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.right-section-1{
    display: flex;
    align-items: center;
}

.right-section-1 ul {
    list-style: none;
    display: flex;
}

.road-assistance{
    display: flex;
    padding-left: 20px;
}

.right-section-1 ul li{
    margin-right: 20px;
}

.right-section-1 ul li  a {
    text-decoration: none;
    color: black;
}

.right-section-1 .navigation{
    border: right 20px solid red;
}

.road-assistance .icon{
    margin-right: 10px;
}
.flex{
    display: flex;
}
.hero-section .text-section{
    width: 50%;
}

.hero-section{
    padding: 80px 0;
}

#hero-section .image-section{
    width: 50%;
    background-image: url(../img/Header-Image.png);
    background-size: cover;
    background-position: centre;
    height: 70vh;
}
.text-section h1{
    font-size: 64px;
}

.orange-btn{
    background: #FF6433;
    border-radius: 12px;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
    display: inline-block;
    color:#ffff
    
}

.time-section{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.time-section .image-box{
    width: 8%;

}

.time-section .time-text{
    width: 92%;
}

.section-2{
    background-color: #E2E6E9;
}
.quote{
    display: flex;
    width: 80%;
    min-height: 100vh;
    margin: auto;
}
.quote .left-quote{
    width: 45%;
    margin: 70px auto;
}
.quote .right-quote{
    width: 45%;
    margin: 70px auto;
}
.left-quote h2{
    font-size: 40px;
    margin-bottom: 40px;
}
.right-quote h2{
    font-size: 40px;
    margin-bottom: 20px;
}
#convinient{
    display: flex;
    margin: 15px 0px;

}

#convinient h3 {
    margin-left: 10px;
    font-size: 20px;
}
.attend {
    margin-left: 35px;
    opacity: .6;
    font-size: 12px;
}

#arrow {
    display: flex;
    font-size: 14px;
    margin: 15px 35px;
}

#arrow img {
    margin-left: 10px;
}
.break-2 {
    display: none;
}

.form-input input[type="text"] {
    width: 100%;
    height: 52px;
    margin-bottom: 3px;
    text-align: left;
    padding-left: 30px ;
    opacity: .5;
    border: none;
}

.form-input input[type="button"] {
    width: 30%;
    height: 40px;
    margin-top: 14px;
    background-color: #FF6433;
    color: white;
    border: none;
    border-radius: 6px;
}

.form-input input[type="button"]:hover {
    background-image: linear-gradient(#FF6433, black);
}

.container{
    width: 80%;
    margin: 0 auto;

}

.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5px;
}

.left-section{
    width: 45%;
}


.right-section{
    width: 40%;
    padding: 20px;
}

.d-flex{
    display: flex;
    align-items: center; 
}

.line{
position: absolute;
margin-left: 4rem;
margin-top: -2.4rem;
}

.ball{
    padding: 2rem;
}

#ball{
    max-width: 72px;
    margin: 1rem 0;
}

.p1{
    color: #1E1B1B;
    margin-top: 0.76rem;
    line-height: 1.47rem;
    font-size: 16px;
}
.text{
    margin-top:4rem;
}

h2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
}

.right-section-1 .p1{
    border-left: 2px dashed #FF6433;
    display: flex;
    padding: 20px;
    align-items: center;
    margin-left: 40px;

}

.right-section-1 #ball{
    margin-right: 20px;
}

.right-section-1 .p{
    margin-right: 30px;
}

.p{
    margin-right: 20px;
}

.services{
    width: 100%;
    background-color: #F2F2F2;
    text-align: center;
}

.image-line-2, .image-line-1{
    display: flex;
    justify-content: center;
    padding:0.1rem;
}
.image-line-1 img, .image-line-2 img{
    padding:0.34rem ;
}

.services .p{

    border-left: 2px solid;
}
.offer{
    padding: 5rem;
}

.offer h2{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.numbers{
     display: flex;
     justify-content: space-around;
     padding: 3rem 0;
}

.numbers .subtitle{
    font-weight: 800;
     font-size: 58px;
     color: #661CE7;
}

.learn-more{
    display: flex;
    justify-content: end;
    margin-right: 5rem;
    padding: 2rem;
}

.container-3{
    width: 100%;
    height: 100vh;
    margin-top: 0px;
}

.connection-first{
    display: flex;
    position: relative;
}


.touch{
    width: 38%;
    height: 49vh;
    background-color: #FF6433;
    position: absolute;
    left: 20%;
    margin-top: -25rem;
}

.inTouch-2 img{
    overflow: hidden;
}
.inTouch-2{
   display: flex;
   justify-content: center;
   position: relative;
}
.intouch{
    margin: 3rem 0;
}

.touch h3{
    text-align: center;
    margin-top: 5rem;
    color: #ffff;
    font-size: 40px;
    font-weight: bold;
    padding: 2rem 1rem;
}
.connection-second{
    height: 15vh;
    background-color: #F2F2F2;
}

.connnection-third{
    background-color: #FAFAFA;
    padding: 4rem;
}

.connection-third h1{
    padding-top: 45px;
    margin-bottom: 15px;

}

.nicest-things{
    width: 100%;
    height: 100vh;
    background: #F2F2F2;
    align-content: center;
}

.nicest-text{
    text-align: center;
    font-size: 48px;
    padding-top: 50px;
}

.testimonial{
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    padding: 0 6rem ;
    margin:3rem;
}
.card{
    background-color: #ffffff;
    padding: 3rem;
    margin-right: 2rem;
}
.card-title{
    margin-left: 0.43rem;
    margin-top: 0.54rem;
}
.card-title p{
    font-weight: 600, Semi Bold;
}
.j-vallem{
    display: flex;
    margin-bottom: 1rem;
}

.lines{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin: 30px;
}
#lines-6{
    justify-items: center;
    margin-left: 100px;
}
#sliders{
    justify-self: end;
    margin-left: 20rem;
}


.questions{
    width: 100%;
    height: 100vh;
    background-color: #E2E6E9;
}
.questions h2{
    text-align: center;
    margin-bottom: 40px;
    padding-top: 50px;
    font-size: 48px;
}
#row-one, .row-question-2, .row-question-3, .row-question-4, .row-question-5{
    width: 60%;
    margin: auto;
    background-color: #ffff;
    margin-bottom: 10px;
    padding: 20px 25px;
}

.row-question{
    display: flex;
    justify-content: space-between;
}

.row-question h4{
    background-color: #FF6433;
    padding: 8px 16px;
    color: #ffff;
    font-size: 20px;
}

.row-question-2{
    display: flex;
    justify-content: space-between;
}

.row-question-2 h4{
    background-color: #FF6433;
    padding: 8px 16px;
    color: #ffff;
    font-size: 20px;
}
.row-question-3{
    display: flex;
    justify-content: space-between;
}

.row-question-3 h4{
    background-color: #FF6433;
    padding: 8px 16px;
    color: #ffff;
    font-size: 20px;
}

.row-question-4{
    display: flex;
    justify-content: space-between;
}

.row-question-4 h4{
    background-color: #FF6433;
    padding: 8px 16px;
    color: #ffff;
    font-size: 20px;
}
.row-question-5{
    display: flex;
    justify-content: space-between;
}

.row-question-5 h4{
    background-color: #FF6433;
    padding: 8px 16px;
    color: #ffff;
    font-size: 20px;
}

#row-one p{
    color: grey;
    width: 80%;
    font-size: 18px;
}

.footer{
    margin: 0 auto;
    background-color:#1E1B1B ;
}

.upper-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5px;
    color: #ffff;
}

.footer .footer-navigation ul li a{
   color: #ffffff;
   text-decoration: none;
}

.footer-bottom{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 5px;
    color: #ffff;
}

.footer-navigation ul{
    list-style: none;
    display: flex;
    margin: 10 auto;
}
.footer-navigation ul li{
    margin-right: 20px;
    text-decoration: none;
}
.footer-left p{
    margin-top: 2rem;
}
.footer-left h6{
    margin-top: 1rem;
}

/* mobile view */
@media(max-width: 426px){
    .main-header{
        flex-direction: column;
        align-items: flex-start;
    }
    .navigation ul{
        flex-direction: column;
    }
    .right-section-1{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .navigation ul li{
        padding: 10px 0;
        margin-right: 0; 
    }
    .right-section-1 ul li a{
        display: block;
    }
    .road-assistance{
        padding:10px 0;
    }
    .flex-sm-column{
        flex-direction: column;
    }

    #hero-section .text-section,#hero-section .image-section{
        width: 100%;

    }
    .text-section h1{
        font-size: 35px;

    }
    #hero-section .text-section{
        order: 2;
    }
    #hero-section .image-section{
        order: 1;
    }
    .section-2, .quote, .left-quote #arrow, .right-quote{
        width: 100%;
        flex-direction: column;
        align-items:flex-start;
    }
    
    .quote .left-quote, .quote .right-quote{
        width: 100%;
        margin: 10px;
    }
    #equipments{
        width: 35px;
    }
    #convinient h3{
        font-size: 30px;
    }
    .attend{
        font-size: 20px;
    }
    #arrow p{
        font-size: 22px;
    }
    .form-input{
        margin-right: auto;
        width: 25.6rem;
        font-size: 15px;
    }
    .right-quote h2{
        font-size: 35px;
    }
    .container, .wrapper{
        width: 100%;
        flex-direction: column;
        align-items:flex-start;
    }
    .left-section h2{
        font-size: 35px;
        width: 100%;
        align-items: flex-start;
    }
    .p1{
        font-size: 18px;
        width: 100%;
    }
    .right-section{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .services{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .services .offer{
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    .offer h2{
        font-size: 30px;
    }

}